{% extends "base.html" %}

{% block content %}

{% include "registration/css/create-program.css" %}

<div class="jumbotron jumbotron-fluid">
	<div id="particles-js"></div>
</div>

<div class="program-card" data-aos="fade-up">
	<div class="title">
		<h3><button class="btn btn-back" onclick="window.history.back()"><i class="fas fa-arrow-left"></i></button>ModPy</h3><hr>
		<h4>Create Program</h4>
	</div>
	<div class="body" data-aos="fade-up">
		{% if form.errors %}
			<div id="errors" hidden>{{ form.errors }}</div>
			<script type="text/javascript">
				var msg = "";
				var errorlist = document.getElementById("errors").getElementsByClassName("errorlist")[0];
				var ul = errorlist.getElementsByTagName("ul");
				for(var i=0;i<ul.length;i++)
				{
					var li = ul[i].getElementsByTagName("li");
					for (var j = 0;j<li.length;j++) {
						msg += li[j].innerHTML + "\n";
					}
				}
				swal ( "Couldn't create program" , msg  ,  "error" );
			</script>
		{% endif %}
		<form action="{% url 'console:program-create' %}" method="POST">{% csrf_token %}
		  <div class="form-group">
		    <label for="title">Program Title</label>
		    <input type="text" class="form-control form-control-lg" id="title" placeholder="Enter title" name="title" required>
		  </div>
		  <div class="form-group">
		    <label for="description">Program Description (Optional)</label>
		    <textarea class="form-control" id="Description" placeholder="Describe your program" name="description"></textarea>
		  </div>
		  <button type="submit" class="btn btn-md btn-raised btn-default">Submit</button>
		</form>
	</div>



<script type="text/javascript">{% include "js/particles.js" %}</script>

<script type="text/javascript">{% include "js/app.js" %}</script>

{% endblock content %}
